html,
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    bottom: 0px;
    height: 100vh;
    width: 100%;
    position: absolute;
    right: 0px;
}

#menu {
    display: relative;
    padding-left: 32px;
}

.options-box {
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    height: 100%;
    line-height: 35px;
    padding: 10px 10px 30px 10px;
    text-align: left;
    width: 340px;
}

#pano {
    width: 200px;
    height: 200px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    overflow-x: hidden;
    transition: 0.5s;
    opacity: 0.9;

}

ul{
    padding: 0px;
}

a, li {
  padding: 8px 8px 8px 32px;
  color: rgba(255,255,255, 0.9);
  font-size: 20px;
  opacity: 1;
  display: block;
  transition: 0.2s;
}

.sidenav a,li:hover {
  color: #f1f1f1;
}

.closebtn {
  position: relative;
  top: 0;
  left: 0px;
  font-size: 50px;

}

#menu{
    z-index: 1;
    position: relative;
    padding-top: 0px;

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
