<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700" rel="stylesheet">
        <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>(Adm) Immobiles from {{city.name}}</title>
    </head>
    <body>
        <div class="container">
                <div class="row padding-none header-city">
                    <div class="col-md-10">
                        <h1>{{ city.name }}
                    </div>
                    <div class="col-md-2">
                        <figure class="creator text-center">
                            <img src="{{creator.picture}}" class="img-circle">
                            <h5>{{creator.name}}</h5>
                        </figure>
                        </h1>
                    </div>
                </div>
                <div class = 'flash'>
                        {% with messages = get_flashed_messages() %}
                {% if messages %}
          
                  <ul>
                  {% for message in messages %}
                      <li> <strong> {{ message }} </strong> </li>
                  {% endfor %}
                  </ul>
                  {% endif %}
                  {% endwith %}
                  </div>
                    <a href="{{url_for('showCities')}}">Show all cities</a>
                    <a href="{{url_for('newImmobile', city_id = city.id) }}">Create new immobile</a>

                    {% for i in imms %}
                    <div class="row">
                        <picture class="col-md-4 text-center">
                            <img height="200" src="{{url_for('static', filename='immobile.jpg')}}">
                        </picture>
                        <div class="col-md-4">
                            {{i.address}}<br>
                            {{i.description}}<br>
                            {{i.squarefeet}}<br>
                            {{i.bedrooms}}<br>
                            {{i.bathrooms}}<br>
                            <a href="{{url_for('editImmobile', city_id = city.id, immobile_id = i.id)}}">Edit</a>
                            <br>
                            <a href = "{{url_for('deleteImmobile', city_id = city.id, immobile_id = i.id)}}">Delete</a>        
                        </div>
                        <div class="col-md-4">
                                <div>
                                    <iframe width="100%" height="200px" src="https://maps.google.com/maps?width=100%&amp;&amp;hl=en&amp;q={{i.address}}&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                                </div>
                        </div>
                    </div>
                    <br>
                    {% endfor %} 
        </div>
    </body>
</html>
