<!DOCTYPE html>
<html> 
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700" rel="stylesheet">
        <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css">
        <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
        <link href="static/bootstrap-grid.css" rel="stylesheet">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <title>Public Page</title>
    </head>
    <body>
        <div class="container">
            <aside role="complementary" class="col-md-4">
                <h2>Cities available:</h2>
                {% for city in cities %}
                <div>
                    <a href="{{url_for('showImmobile', city_id = city.id)}}">
                        <h3 class="city-list text-left">{{city.name}}</h3>
                    </a>
                </div>
                {% endfor %}

            </aside>
            <div class="col-md-8">
                <div class="row">
            <header class="box">
                <div class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner backheader">
                        <div class="item active">
                            <img src="{{url_for('static', filename='headerimage1.jpg')}}" class="img-responsive">
                            <div class="carousel-caption">
                                <h1>
                                    Your next living place
                                </h1>
                            </div>
                        </div>
                        <div class="item">
                            <img src="{{url_for('static', filename='headerimage2.jpg')}}" class="img-responsive">
                            <div class="carousel-caption">
                                <h1>
                                    Your next living place
                                </h1>
                            </div>
                        </div>
                        <div class="item">
                            <img src="{{url_for('static', filename='headerimage3.jpg')}}" class="img-responsive">
                            <div class="carousel-caption">
                                <h1>
                                    Your next living place
                                </h1>
                            </div>
                        </div>
                        <div class="item">
                            <img src="{{url_for('static', filename='headerimage4.jpg')}}" class="img-responsive">
                            <div class="carousel-caption">
                                <h1>
                                    Your next living place
                                </h1>
                            </div>
                        </div>
                        <div class="item">
                            <img src="{{url_for('static', filename='headerimage5.jpg')}}" class="img-responsive">
                            <div class="carousel-caption">
                                <h1>
                                    Your next living place
                                </h1>
                            </div>
                        </div>
                        <div class="item">
                            <img src="{{url_for('static', filename='headerimage6.jpg')}}" class="img-responsive">
                            <div class="carousel-caption">
                                    <h1>
                                        Your next living place
                                    </h1>
                                </div>
                        </div>
                        
                    </div>
                </div>
                
            </header>
            <br>
            <div class="row">
                    <div class="col-md-4">
                           
                    </div>
                    <div class="col-md-4">
                        <h2 class="select-city">Select any city</h2>
                        <br>
                    </div>
                    <div class="col-md-4 text-right">
                            {%if 'username' not in session %}
                            <a href="{{url_for('showLogin')}}" class="feet-login">
                                <button class="btn btn-link">
                                    <i class="material-icons">
                                        person_outline
                                    </i>
                                    Log in
                                </button>
                            </a>
                            {% endif %}
                            {%if 'username' in session %}
                            <a href="{{url_for('disconnect')}}">
                                <button class="btn btn-link">
                                    <i class="material-icons">
                                        person_outline
                                    </i>
                                    Log off
                                </button>
                            </a>
                            {% endif %}
                    </div>
                </div>
                <div class = 'flash'>
                        {% with messages = get_flashed_messages() %}
                {% if messages %}
          
                  <ul>
                  {% for message in messages %}
                      <li> <strong> {{ message }} </strong> </li>
                  {% endfor %}
                  </ul>
                  {% endif %}
                  {% endwith %}
                  </div>
                
                
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </body>
    </html>