<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
        <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css">
        <link href="static/bootstrap.min.css" rel="stylesheet">
        <link href="static/style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Realtor Joseph</title>
    </head>
    <body>
        <div class="container">
            <div class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="static/headerimage1.jpg" class="img-responsive">
                    </div>
                    <div class="carousel-item">
                        <img src="static/headerimage2.jpg" class="img-responsive">
                    </div>
                    <div class="carousel-item">
                        <img src="static/headerimage3.jpg" class="img-responsive">
                    </div>
                    <div class="carousel-item">
                        <img src="static/headerimage4.jpg" class="img-responsive">
                    </div>
                    <div class="carousel-item">
                        <img src="static/headerimage5.jpg" class="img-responsive">
                    </div>
                    <div class="carousel-item">
                        <img src="static/headerimage6.jpg" class="img-responsive">
                    </div>
                </div>
            </div>
            <br>
            <div class="col-xs-12">
                <p class="select-city">Select a city:</p>
                <br>
            </div>

                {% for city in cities %}
                <section class="col-md-6 panel">
                    <div class="row">
                        <div class="col-md-6">
                            <picture>
                                <a href="{{url_for('showImmobile', city_id = city.id)}}">
                                    <img class="" src="{{url_for('static', filename='immobile.jpg')}}">
                                </a>
                            </picture>
                        </div>
                        <div class="col-md-3 panel info">
                            <article>
                                <h3 class="city-list">{{city.name}}</h3>
                                <h4>3 houses</h4>
                            </article>
                        </div>
                    </div>
                </section>
                {% endfor %}

        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </body>
</html>