<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300" rel="stylesheet">
        <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <title>Realtor Joseph</title>
    </head>
    <body>
        <div class="container">
            <video autoplay muted loop class="header">
                <source class="backheader" src="img/house_rooms.mp4" type="video/mp4"></video>
                <div id="text-intro"><p>Your next home is one click away!</p></div>
            </header>
            <br>
            <div class="col-xs-12">
                <p class="select-city">Select a city:</p>
                <br>
            </div>

            <div class="row cities text-center">
                <section class="col-xs-3 rio">
                    <picture>
                            <a href="rio.html"><img class="" src="img/rio.jpg" alt=rio></a>
                    </picture>
                </section>
                <section class="col-xs-3 rio info">
                    <article>
                        <h3 class="city-list">Rio de Janeiro</h3>                    
                        <h4>3 houses</h4>
                        
                    </article>
                </section>
                
                <section class="col-xs-3 saopaulo">
                    <picture>
                            <a href="fader.html"><img class="" src="img/sp.jpg" alt=saopaulo></a>
                    </picture>
                </section>
                <section class="col-xs-3 saopaulo info">
                    <article>
                        <h3 class="city-list">São Paulo</h3>                    
                        <h4>3 houses</h4>
                        
                    </article>
                </section>
            </div>
                
            <div class="row cities text-center">
                <section class="col-xs-3 poa">
                    <picture>
                            <a href="rio.html"><img class="" src="img/poa.jpg" alt=poa></a>
                    </picture>
                </section>
                <section class="col-xs-3 poa info">
                    <article>
                        <h3 class="city-list">Porto Alegre</h3>                    
                        <h4>3 houses</h4>
                        
                    </article>
                </section>

                <section class="col-xs-3 vitoria">
                    <picture>
                            <a href="fader.html"><img class="" src="img/vitoria.jpg" alt=vitoria></a>
                    </picture>
                </section>
                <section class="col-xs-3 vitoria info">
                    <article>
                        <h3 class="city-list">Vitória</h3>                    
                        <h4>3 houses</h4>
                        
                    </article>
                </section>
            </div>

            <div class="row cities text-center">
                <section class="col-xs-3 curitiba">
                    <picture>
                            <a href="rio.html"><img class="" src="img/curitiba.jpg" alt=curitiba></a>
                    </picture>
                </section>
                <section class="col-xs-3 curitiba info">
                    <article>
                        <h3 class="city-list">Curitiba</h3>                    
                        <h4>5 houses</h4>
                        
                    </article>
                </section>

                <section class="col-xs-3 floripa">
                    <picture>
                            <a href="fader.html">
                                <img class="" src="img/floripa.jpg" alt=florianopoles>
                            </a>
                    </picture>
                </section>
                <section class="col-xs-3 florianopoles info">
                    <article>
                        <h3 class="city-list">Florianopolis</h3>                    
                        <h4>4 houses</h4>
                        
                    </article>
                </section>
            </div>

            <div class="row cities text-center">
                <section class="col-xs-3 salvador">
                    <picture>
                            <a href="rio.html"><img class="" src="img/salvador.jpg" alt=salvador></a>
                    </picture>
                </section>
                <section class="col-xs-3 salvador info">
                    <article>
                        <h3 class="city-list">Salvador</h3>                    
                        <h4>5 houses</h4>
                        
                    </article>
                </section>

                <section class="col-xs-3 gramado">
                    <picture>
                            <a href="fader.html">
                                <img class="" src="img/gramado.jpg" alt=gramado>
                            </a>
                    </picture>
                </section>
                <section class="col-xs-3 gramado info">
                    <article>
                        <h3 class="city-list">Gramado</h3>                    
                        <h4>4 houses</h4>
                        
                    </article>
                </section>
            </div>

            <div class="row cities text-center">
                <section class="col-xs-3 recife">
                    <picture>
                            <a href="fader.html">
                                <img class="" src="img/recife.jpg" alt=recife>
                            </a>
                    </picture>
                </section>
                <section class="col-xs-3 recife info">
                    <article>
                        <h3 class="city-list">Recife</h3>                    
                        <h4>4 houses</h4>
                        
                    </article>
                </section>
                <section class="col-xs-3 belohorizonte">
                    <picture>
                            <a href="fader.html">
                                <img class="" src="img/bh.jpg" alt=belohorizonte>
                            </a>
                    </picture>
                </section>
                <section class="col-xs-3 belohorizonte info">
                    <article>
                        <h3 class="city-list">Belo Horizonte</h3>                    
                        <h4>4 houses</h4>
                        
                    </article>
                </section>
                <br>
            </div>

            <div class="row cities text-center" id="feet">
                <div class="text-center">
                        <div class="col-xs-4">
                            <br>
                            <p class="feet-text">Lorem ipsum</p>
                            <p class="feet-text">Lorem ipsum</p>
                            <p class="feet-text">Lorem ipsum</p>
                            <br>
                            <p class="feet-text">Lorem Ipsum has 
                                    been the industry's standard dummy text 
                                    ever since the 1500s.</p>
                        </div>
                        <div class="col-xs-4">
                            <br>
                            <p class="feet-text">Lorem Ipsum is simply dummy text 
                                of the printing and typesetting industry. Lorem Ipsum has 
                                been the industry's standard dummy text ever since the 1500s, 
                                when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                It has survived not only five centuries
                            </p>
                            <br>
                        </div>
                        <div class="col-xs-4">
                            <br>
                            <p class="feet-text">Lorem ipsum</p>
                            <p class="feet-text">Lorem ipsum</p>
                            <p class="feet-text">Lorem ipsum</p>
                            <p class="feet-text">Lorem ipsum</p>
                            <p class="feet-text">Lorem ipsum</p>
                            <a href="#" class="feet-login">
                                <button class="buttonlogin">Log in</button>
                            </a>
                        </div>
                </div>
            </div>

        </div>
    </body>
</html>