body {
    font-family: 'Lato', sans-serif;
    background-color: #FFFAFA
}

h1,
h2,
h3,
h4 {
    color: #008080;
}

h1,
h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    margin: 0;
}

h1 {
}

h2 {
    font-size: 1.2em;
}

dd,
dt {
    color: #cccccc;
}

a {
    text-decoration: none;
    color: #ffffcc;
    font-size: .75em;
}

.pane {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    border-color: #999999;
    background-color: #FFFAFA
}

.header {
    left: 50%;
    text-align: center;
}

#hrline{
    border: 0;
    margin-bottom: 15px;
    height: 2px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

p{
    font-weight: 300;
    margin-bottom: 0px;
}

footer{
    font-size: 12px;
}

.nameAndPrice{
    display: flex;
}

.name {
    width: 80%;
    margin-bottom: 0;
    float: left;
}

.price {
    text-align: right;
    width: 20%;
    float: right;
}

.itemdescription {
    color: black;
}


.editdeletepane {
}

.edit, .delete, .createitem{
    color: black;
}

.flash {
    background: #cee5f5;
}